@use "sass:meta"

@use "./hakyll.css" as *

@import url('https://fonts.googleapis.com/css?family=Open+Sans|B612|B612+Mono&display=swap')

tr.message td:not(.summary), code
    font-family: 'B612 Mono', monospace
    font-size: 0.8em

tr.message td:last-child
    text-align: right

tr.message td.summary
    display: block
    width: 30em
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap